<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common_head(title, links)">
    <title th:replace="${title}">Title</title>

    <link rel="icon" th:href="@{/img/favico.png}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.5.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.5.3/css/mdb.min.css}">

    <th:block th:replace="${links}"/>
</head>
<header class="mb-4" th:fragment="header">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" th:href="@{/}">Ecms</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/export}">Экспорт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contacts}">Контакты</a>
                    </li>

                </ul>
                <!-- Links -->

                <ul class="navbar-nav">
                    <li sec:authorize="!isAnonymous()" class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fa fa-user"></i><span sec:authentication="name" ></span></a>
                    </li>
                </ul>
                <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-primary btn-md">Выход</button>
                        </form>
                    </li>
                </ul>

            </div>
            <!-- Collapsible content -->

        </div>

    </nav>
    <!--/.Navbar-->

</header>
</html>