<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_head(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<header th:replace="fragments/head :: header">

</header>
<div class="container" id="ec-content">

    <div class="text-center">

        <h1 class="card-title h2-responsive mt-2"><strong>Экспорт для CMS</strong></h1>
        <p class="blue-text mb-4 font-bold">Web сервис для выгрузки контента из CMS</p>

        <div class="d-flex justify-content-center">
            <p class="card-text mb-3" style="max-width: 43rem;">
                Данный сервис позволяет выгружать данные из CMS через её API и экспортировать их в файлы CSV, MS Excel
                др.
                Так же позволяет конвертировать файлы с данными, например CSV в MS Excel.
            </p>
        </div>

        <hr class="my-4">

        <div class="row mb-5">
            <div class="col-md-4 col-sm-12">
                <div class="card ec-h-50">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                             src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Выгрузка через API</h4>
                        <!-- Text -->
                        <p class="card-text">
                            Выгружайте данные через API вашего сайта.
                        </p>
                        <ul class="list-unstyled">
                            <li><a href="http://www.instantcms.ru/">InstantCMS</a></li>
                        </ul>
                        <!-- Button -->
                        <a th:href="@{/export}" class="btn btn-primary">Перейти</a>

                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card ec-h-50">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                             src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Конвертер</h4>
                        <!-- Text -->
                        <p class="card-text">Конвертируйте файлы в разные форматы:</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">CSV</li>
                            <li class="list-inline-item">Excel</li>
                            <li class="list-inline-item">XML</li>
                            <li class="list-inline-item">JSON</li>
                        </ul>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Перейти</a>

                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card ec-h-50">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top"
                             src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Скоро...</h4>
                        <!-- Text -->
                        <p class="card-text">Новые функции в разработке</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Перейти</a>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<footer th:replace="~{fragments/footer :: copy}">
</footer>
<div th:replace="fragments/footer :: common_js(~{})"></div>
</body>
</html>